<div style="margin: 0;padding: 0;">
  <!-- contanier-xl -->
  <div style="width: 100%; 
    padding-right: 0.625rem; 
    padding-left: 0.625;
    margin-top: 0; 
    margin-bottom: 0;
    margin-right: auto; 
    margin-left: auto;">
    <!-- row text-center align-items-center flex-row-reverse -->
    <div style="
      display: flex; 
      flex-wrap: wrap; 
      margin-top: 0; 
      margin-bottom: 0;
      margin-right: -0.625; 
      margin-left: -0.625;
      text-align: center!important;
      align-items: center!important;
      flex-direction: row-reverse!important;">
      <!-- col-lg-auto ms-lg-auto -->
      <div style="flex: 0 0 auto;width: auto;margin-left: auto!important;">
        <!-- list-inline mb-0 -->
        <ul style="padding-left: 0;margin-bottom: 0!important;">
          <!-- list-inline-item -->
          <li style="list-style-type: none;margin-right: auto;margin-inline-end: 0.5rem;display: inline-block;">
            <!-- link-secondary -->
            <a href="https://www.bizkaia.eus/es/tema-plantilla/-/edukia/pl/7884/ogasuna/guregida/index.asp[interrogacion]Idioma=CA&Tem_Codigo=7884&Tem_Plid=7994115"
              style="color: #616876!important;text-decoration: none;padding-right: 0.5rem;">Gure Gida</a>
          </li>
          <!-- list-inline-item ::before -->
          <li
            style="list-style-type: none;margin-right: auto;margin-inline-end: 0.5rem;display: inline-block;box-sizing: border-box;">
            <!-- link-secondary -->
            <a href="https://dfb.microsoftcrmportals.com/es-ES/ogasuna/"
              style="color: #616876!important;text-decoration: none;padding-right: 0.5rem;">Trámites y Citra previa</a>
          </li>
          <!-- list-inline-item ::before -->
          <li
            style="list-style-type: none;margin-right: auto;margin-inline-end: 0.5rem;display: inline-block;;box-sizing: border-box;">
            <!-- link-secondary -->
            <a href="https://www.batuz.eus/es/inicio"
              style="color: #616876!important;text-decoration: none;padding-right: 0.5rem;">Batuz</a>
          </li>
          <!-- list-inline-item ::before -->
          <li style="list-style-type: none;display: inline-block;margin-inline-end: 0.5rem;box-sizing: border-box;">
            <!-- link-secondary -->
            <a href="https://ebizkaia.eus/es/inicio" style="color: #616876!important;text-decoration: none;">Sede
              electrónica</a>
          </li>
        </ul>
      </div>
      <!-- col-12 col-lg-auto mt-3 mt-lg-0 -->
      <div style="flex: 0 0 auto;width: auto;margin-top: 0!important;">
        <!-- list-inline mb-0 -->
        <ul style="padding-left: 0;list-style: none;margin-bottom: 0!important;">
          <!-- list-inline-item -->
          <li style="display: inline-block;margin-right: auto;margin-inline-end: 0.5rem;padding: 0;margin: 0;">
            Atención Telefónica 946 083 000
          </li>
        </ul>
      </div>
    </div>
    <div>
      <p style="text-align: center;"><small>Por favor, no responda este correo; ha sido enviado de forma
          automática</small></p>
    </div>
  </div>
</div>