<div style="margin: 0;padding: 0;">
  <!-- contanier-xl -->
  <div style="width: 100%; 
    padding-right: 0.625rem; 
    padding-left: 0.625;
    margin-top: 0; 
    margin-bottom: 0;
    margin-right: auto; 
    margin-left: auto;">
    <!-- row text-center align-items-center flex-row-reverse -->
    <div style="
      display: flex; 
      flex-wrap: wrap; 
      margin-top: 0; 
      margin-bottom: 0;
      margin-right: -0.625; 
      margin-left: -0.625;
      text-align: center!important;
      align-items: center!important;
      flex-direction: row-reverse!important;">
      <!-- col-lg-auto ms-lg-auto -->
      <div style="flex: 0 0 auto;
        width: auto;
        margin-left: auto!important;">
        <!-- list-inline mb-0 -->
        <ul style="padding-left: 0;
          list-style: none;
          margin-bottom: 0!important;">
          <!-- list-inline-item -->
          <li style="margin-right: auto;margin-inline-end: 0.5rem;display: inline-block;">
            <!-- link-secondary -->
            <a href="https://www.bizkaia.eus/es/tema-plantilla/-/edukia/pl/7884/ogasuna/guregida/index.asp[interrogacion]Idioma=CA&Tem_Codigo=7884&Tem_Plid=7994115" style="color: #616876!important;text-decoration: none;padding-right: 0.5rem;">Gure Gida</a>
          </li>
          <!-- list-inline-item ::before -->
          <li style="margin-right: auto;margin-inline-end: 0.5rem;display: inline-block;box-sizing: border-box;">
            <!-- link-secondary -->
            <a href="https://dfb.microsoftcrmportals.com/es-ES/ogasuna/" style="color: #616876!important;text-decoration: none;padding-right: 0.5rem;">Trámites y Citra previa</a>
          </li>
          <!-- list-inline-item ::before -->
          <li style="margin-right: auto;margin-inline-end: 0.5rem;display: inline-block;;box-sizing: border-box;">
            <!-- link-secondary -->
            <a href="https://www.batuz.eus/es/inicio" style="color: #616876!important;text-decoration: none;padding-right: 0.5rem;">Batuz</a>
          </li>
          <!-- list-inline-item ::before -->
          <li style="display: inline-block;margin-inline-end: 0.5rem;box-sizing: border-box;">
            <!-- link-secondary -->
            <a href="https://ebizkaia.eus/es/inicio" style="color: #616876!important;text-decoration: none;">Sede electrónica</a>
          </li>
        </ul>
      </div>
      <div style="flex: 0 0 auto;width: auto;margin-top: 0!important;">
          <ul style="padding-left: 0;list-style: none;margin-bottom: 0!important;">
            <li style="display: inline-block;padding: 0;margin: 0;">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24" style="padding: 0;margin: 0;">
                <path style="padding: 0;"
                  d="M739.763 873Q645 873 545.339 821.433q-99.662-51.568-181.25-132.75Q282.5 607.5 230.5 508.25q-52-99.25-52-194.125 0-17.704 11.857-29.664Q202.214 272.5 220 272.5h76.5q18 0 30.25 10.25T343 310l18 80q3 15.068-.75 28.034t-14.335 21.55L263.5 515.5q56 94 124.25 161.25T550.5 797l82.544-86q10.456-10.5 20.456-13.75T677 697l66.362 13.452Q760.5 714.5 771 727q10.5 12.5 10.5 30.5v74q0 17.786-11.925 29.643T739.763 873ZM250.5 492l80-72q4.5-4 6-11t0-13L318 314q-2-8-7-12t-13-4h-79.5q-6.5 0-10.25 4t-3.75 10q-.5 40.5 12 86.75t34 93.25Zm324 315.5q40 21 87.666 30.5T742 847.5q6 0 10-4t4-10v-78q0-8-4-13t-12-7L673 721q-6-1.5-10.5 0t-9.5 6l-78.5 80.5ZM250.5 492Zm324 315.5Z" />
              </svg>
              946 083 000
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>