<div style="margin: 0;padding: 0;">
    <!-- contanier-xl -->
    <div style="width: 100%; 
      padding-right: 0.625rem; 
      padding-left: 0.625;
      margin-top: 0; 
      margin-bottom: 0;
      margin-right: auto; 
      margin-left: auto;">
    <div style="
      display: flex; 
      flex-wrap: wrap; 
      margin-top: 0; 
      margin-bottom: 0;
      margin-right: -0.625; 
      margin-left: -0.625;
      text-align: center!important;
      align-items: center!important;
      flex-direction: row-reverse!important;">
      <table align="center" cellpadding="1" cellspacing="1" style="width:100%">
        <tbody>
          <tr>
            <td style="text-align:center"><a href="https://www.bizkaia.eus/es/tema-plantilla/-/edukia/pl/7884/ogasuna/guregida/index.asp[interrogacion]Idioma=CA&amp;Tem_Codigo=7884&amp;Tem_Plid=7994115">Gure Gida</a></td>
            <td style="text-align:center"><a href="https://dfb.microsoftcrmportals.com/es-ES/ogasuna/">Tr&aacute;mites y Cita Previa</a></td>
            <td style="text-align:center"><a href="https://www.batuz.eus/es/inicio">Batuz</a></td>
            <td style="text-align:center"><a href="https://ebizkaia.eus/es/inicio">Sede Electr&oacute;nica</a></td>
          </tr>
          <tr>
            <td style="text-align:center"><p><small>Por favor, no responda este correo; ha sido enviado de forma automática</small></p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>