<!--[if (gte mso 9)|(IE)]>
  <style type="text/css">
    li {
      text-indent: 50px;
      list-style-type: none!important;
    }
  </style>
  <![endif]-->
<div style="margin: 0;padding: 0;">
  <!-- contanier-xl -->
  <div style="width: 100%; 
    padding-right: 0.625rem; 
    padding-left: 0.625;
    margin-top: 0; 
    margin-bottom: 0;
    margin-right: auto; 
    margin-left: auto;">
    <!-- row text-center align-items-center flex-row-reverse -->
    <div style="
      display: flex; 
      flex-wrap: wrap; 
      margin-top: 0; 
      margin-bottom: 0;
      margin-right: -0.625; 
      margin-left: -0.625;
      text-align: center!important;
      align-items: center!important;
      flex-direction: row-reverse!important;">
      <!-- col-lg-auto ms-lg-auto -->
      <div style="flex: 0 0 auto;width: auto;margin-left: auto!important;">
        <!-- list-inline mb-0 -->
        <ul style="padding-left: 0;list-style: none;margin-bottom: 0!important;">
          <!-- list-inline-item -->
          <li style="margin-right: auto;margin-inline-end: 0.5rem;display: inline-block;">
            <!-- link-secondary -->
            <a href="https://www.bizkaia.eus/eu/gaia-txantiloia/-/edukia/pl/7884/ogasuna/guregida/index.asp[interrogacion]Idioma=EU&Tem_Codigo=7884&Tem_Plid=7994115" style="color: #616876!important;text-decoration: none;padding-right: 0.5rem;">Gure Gida</a>
          </li>
          <!-- list-inline-item ::before -->
          <li style="margin-right: auto;margin-inline-end: 0.5rem;display: inline-block;box-sizing: border-box;">
            <!-- link-secondary -->
            <a href="https://dfb.microsoftcrmportals.com/es-ES/ogasuna/" style="color: #616876!important;text-decoration: none;padding-right: 0.5rem;">Izapideen Gida eta Aurretiko Hitzordua</a>
          </li>
          <!-- list-inline-item ::before -->
          <li style="margin-right: auto;margin-inline-end: 0.5rem;display: inline-block;;box-sizing: border-box;">
            <!-- link-secondary -->
            <a href="https://www.batuz.eus/es/inicio" style="color: #616876!important;text-decoration: none;padding-right: 0.5rem;">Batuz</a>
          </li>
          <!-- list-inline-item ::before -->
          <li style="display: inline-block;margin-inline-end: 0.5rem;box-sizing: border-box;">
            <!-- link-secondary -->
            <a href="https://ebizkaia.eus/eu/hasiera" style="color: #616876!important;text-decoration: none;">Egoitza Elektronikorako</a>
          </li>
        </ul>
      </div>
      <div style="flex: 0 0 auto;width: auto;margin-top: 0!important;">
          <ul style="padding-left: 0;list-style: none;margin-bottom: 0!important;">
            <li style="display: inline-block;padding: 0;margin: 0;">
              Bidezko Arreta 946 083 000
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>