<div
  style="
    background: #ffffff;
    padding: 0;
    text-align: left;
    font-family: Arial;
  "
>
  <!-- <img src="cid:unique@dfb" width = "200" height="101" alt="DFB"> -->
  <div style="margin-bottom: 2rem;">
    <p style="margin: 0;font-style: italic;"><span style="font-size:36px;">Bizkaia</span></p>
    <p style="margin: 0;"><small style="color: red;">foru aldundia</small></p>
    <p style="margin: 0;"><small style="color: red;">diputaci&oacute;n foral</small></p>
  </div>
</div>