<%- include('/home/zs53/nodeProjects/etxera-app/cliente/src/controllers/../public/templates/includes/headerCas.ejs') %><table align="center" cellpadding="1" cellspacing="1" style="width:100%">
	<tbody>
		<tr>
			<td colspan="4">
			<h1>WELCOME</h1>

			<p>Castellano</p>

			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus animi officiis magnam ipsum dolore temporibus earum, omnis nam officia repellendus quam dolorem maiores recusandae, ad odio quo soluta blanditiis consectetur placeat, dolor dignissimos. Ea consectetur repellat quas et molestiae totam rerum voluptate impedit quasi itaque a iusto dolores quae error quisquam quam vel architecto laborum voluptates consequatur culpa, quibusdam illum, eaque libero. Quia, illum minima? Magni eligendi sint architecto iusto praesentium non quae! Iusto adipisci officiis quo totam nulla soluta eos laborum reiciendis excepturi expedita aliquid quam laboriosam commodi nemo, debitis, neque, atque delectus ea sunt inventore omnis laudantium? Fuga blanditiis rem facilis repellendus? Porro doloremque, omnis est, magni ducimus ad quis dolorem numquam fugit, voluptatibus laudantium! Dolorem corrupti blanditiis earum eum quidem eligendi tempore adipisci magni voluptas delectus. Placeat, sequi! Fugit, nesciunt earum ipsam ex laudantium assumenda cumque accusantium aliquid natus magnam maiores corrupti commodi asperiores dignissimos facilis ducimus recusandae exercitationem dolorum sint, quisquam ipsum vel obcaecati! Laudantium, vero enim. Cum enim consequuntur illum consectetur fugiat repudiandae, consequatur minus fuga iusto modi, ducimus reprehenderit! Quasi ab quia nisi hic similique, officiis doloremque id nesciunt exercitationem natus impedit libero quibusdam modi perspiciatis ipsam laboriosam minus recusandae. Officia deserunt corrupti perspiciatis!</p>
			</td>
		</tr>
		<tr>
			<td colspan="4">
			<p style="text-align:center">&nbsp;</p>

			<div>
			<p style="text-align:center">&nbsp;</p>
			</div>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="text-align:center">Atenci&oacute;n Telef&oacute;nica 94 608 3000</td>
		</tr>
		<tr>
			<td style="text-align:center"><a href="https://www.bizkaia.eus/es/tema-plantilla/-/edukia/pl/7884/ogasuna/guregida/index.asp[interrogacion]Idioma=CA&amp;Tem_Codigo=7884&amp;Tem_Plid=7994115">Gure Gida</a></td>
			<td style="text-align:center"><a href="https://dfb.microsoftcrmportals.com/es-ES/ogasuna/">Tr&aacute;mites y Cita Previa</a></td>
			<td style="text-align:center"><a href="https://www.batuz.eus/es/inicio">Batuz</a></td>
			<td style="text-align:center"><a href="https://ebizkaia.eus/es/inicio">Sede Electr&oacute;nica</a></td>
		</tr>
	</tbody>
</table>
<%- include('/home/zs53/nodeProjects/etxera-app/cliente/src/controllers/../public/templates/includes/footerCas.ejs') %>