<%- include('/home/zs53/nodeProjects/etxera-app/cliente/src/controllers/../public/templates/includes/header.ejs')%>
<p>Ave Cesar!</p>
<p><a href="https://ebizkaia.eus/es/inicio">pulse para acceso</a></p>

<p>Lorem ipsum</p>
<%- include('/home/zs53/nodeProjects/etxera-app/cliente/src/controllers/../public/templates/includes/footer.ejs') %>
