<%- include('./includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Welcome</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    
    Nihil consectetur quia ea obcaecati nostrum reprehenderit commodi quam impedit, explicabo provident facere praesentium atque. 
    
    Molestias placeat libero aut porro, et ex?
  </p>
  <a href="https://www.ebizkaia.eus/es/inicio">Pulse aqui para acceder</a>
</div>

<%- include('./includes/footer.ejs') %>