<%- include('/home/zs53/nodeProjects/etxera-app/cliente/src/controllers/../public/templates/includes/header.ejs') %><p>Ave Cesar!</p>
<%- include('/home/zs53/nodeProjects/etxera-app/cliente/src/controllers/../public/templates/includes/footer.ejs') %>