<%- include('/home/zs53/nodeProjects/etxera-app/cliente/src/controllers/../public/templates/includes/headerEus.ejs') %><p>eus</p>
<%- include('/home/zs53/nodeProjects/etxera-app/cliente/src/controllers/../public/templates/includes/footerEus.ejs') %>