<%- include('/home/zs53/nodeProjects/etxera-app/cliente/src/controllers/../public/templates/includes/headerCas.ejs') %><p>cast</p>
<%- include('/home/zs53/nodeProjects/etxera-app/cliente/src/controllers/../public/templates/includes/footerCas.ejs') %>